@import "styles/utils";

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
  background: #54E6AF;
  border: none;
  border-radius: 28px;
  padding: 9px 27px;
  cursor: pointer;

  @include media(">desktop") {
    transition: background 0.3s;

    &:hover {
      background: #B3FFE2;
    }
  }
}
