
.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
  background: #54E6AF;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border: none;
  border-radius: 28px;
  padding: 9px 0;
  cursor: pointer;
}
